@import 'options';
@import 'mixins';

#{$unicorn-form-namespace} {
  background: $unicorn-form-bgcolor;
  width: auto;
  margin: $unicorn-form-input-height 0;

  fieldset {
    border: 1px solid darken($unicorn-form-bgcolor, 10%);
    legend {
      color: $unicorn-form-font-muted;
    }
  }
  ul, li {list-style: none;}
}

@each $uforms-size in $uforms-sizes {
  $uforms-size-name: nth($uforms-size, 1);
  $uforms-size: nth($uforms-size, 2);

  $uforms-size-namespace: #{$unicorn-form-namespace}-panel-#{$uforms-size-name};

  #{$uforms-size-namespace} {
    width: $uforms-size;
  }
}

#{$unicorn-form-namespace}-panel {
  margin: $unicorn-form-input-height 0;
}

#{$unicorn-form-namespace}-panel-centered {
  margin: $unicorn-form-input-height auto;
}

#{$unicorn-form-namespace}-panel-header {
  position: relative;
  padding: 12px 20px;
  margin: 0;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  background-color: $unicorn-form-panel-bgcolor;
  border: $unicorn-form-border-color;
  border-bottom: 0;
  border-radius: $unicorn-form-border-radius $unicorn-form-border-radius 0 0;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: $unicorn-form-font-size + 2px;
    font-weight: normal;
    line-height: 1.2;
  }
}

#{$unicorn-form-namespace}-panel-body {
  padding: 20px;
  font-size: $unicorn-form-font-size;
  color: $unicorn-form-font-color;
  border: 1px solid $unicorn-form-border-color;
  border-radius: 0 0 $unicorn-form-border-radius $unicorn-form-border-radius;
}


label,
input,
textarea {
  color: $unicorn-form-font-color;
  font-size: $unicorn-form-font-size;
  font-family: $unicorn-form-font-family;
  font-weight: $unicorn-form-font-weight;
}

#{$unicorn-form-namespace}-grouped {
  margin: 0 0 6px;
  padding: 0;

  & input,
  & textarea {
    display: block;
    padding: 10px;
    margin: 0 0 -1px;
    border-radius: 0;
    position: relative;
    top: 0;
  }
}

#{$unicorn-form-namespace}-grouped-rounded {
  & input:first-child,
  & textarea:first-child {
    top: 1px;
    border-radius: $unicorn-form-border-radius $unicorn-form-border-radius 0 0;
    margin: 0;
  }

  & input,
  & textarea {margin: 0 0 -2px;}

  & input:last-child,
  & textarea:last-child {
    top: 1px;
    border-radius: 0 0 $unicorn-form-border-radius $unicorn-form-border-radius;
    margin: 0;
  }
}

// #{$unicorn-form-namespace}-field-group {
//   margin-bottom: $unicorn-form-font-size;
//   width: 100%;
//   max-width: 100%;

//   label {
//     display: block;
//     color: $unicorn-form-font-dark;
//     cursor: $unicorn-form-cursor;
//     margin-bottom: $unicorn-form-font-size * .7;

//     //TODO: Inline labels can be place to right or left of input etc.
//     &.inline {
//       display: inline-block;
//     }
//   }

//   #{$unicorn-form-namespace}-field {
//     position: relative;
//     /* TODO
//     #{$unicorn-form-namespace}-errors {}
//     */
//   }
// }

@if($unicorn-form-responsive == 'enabled') {
  @media screen and (min-width: $unicorn-form-small-breakpoint) {
  //TODO
  }
}

textarea,
input {
  display: inline-block;
  border-radius: $unicorn-form-border-radius;
  margin: 0 6px;
  padding: $unicorn-form-input-padding;
  height: $unicorn-form-input-height;
  background: $unicorn-form-fields-bgcolor;
  border: 1px solid $unicorn-form-border-color;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;

  &:focus,
  &.focus {
    border-color: $unicorn-form-link-color;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05), 0 0 5px rgba($unicorn-form-link-color, 0.5);
    outline: 0;
  }

  &#{$unicorn-form-namespace}-input-block {
    width: 100%;
    margin: 8px 0 12px 0;
  }
}


input[type="color"] {
  width: $unicorn-form-color-field-width;
  background: transparent;
  border: none;
}

//http://css-tricks.com/snippets/css/turn-off-number-input-spinners/
@if($unicorn-turn-off-number-input-spinners) {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

textarea {
  height: auto;
  min-width: 100%;
  min-height: $unicorn-form-input-height;
  padding: $unicorn-form-font-size / 2;
}

select {
  //opacity: 0;//uncomment if you're going to dynamically put a span and style that
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: $unicorn-form-input-height;
  font-size: $unicorn-form-font-size;
  padding: 0 $unicorn-form-font-size / 2;
  -webkit-appearance: none;
  -moz-appearance: none;
  option {
    font-size: $unicorn-form-small-font-size;
  }
}

::-webkit-input-placeholder {
  color: $unicorn-form-placeholder-color;
  transition: $unicorn-form-transition-duration all;
}
:-moz-placeholder {
  color: $unicorn-form-placeholder-color;
  transition: $unicorn-form-transition-duration all;
}
::-webkit-input-placeholder:focus {
  color: $unicorn-form-placeholder-focus-color;
}
:-moz-placeholder:focus {
  color: $unicorn-form-placeholder-focus-color;
}

input[type=radio],
input[type=checkbox] {
  margin: 0;
  vertical-align: middle;
  cursor: $unicorn-form-cursor;
}

#{$unicorn-form-namespace}-radio,
#{$unicorn-form-namespace}-checkbox {
  display: inline-block;
  position: relative;
  background: $unicorn-form-fields-bgcolor;
  padding: ($unicorn-form-base-line-height - ($unicorn-form-checkbox-font-size * 1.2)) / 2 0 ($unicorn-form-base-line-height - ($unicorn-form-checkbox-font-size * 1.2)) / 2 $unicorn-form-checkbox-height * 1.61;
  font-size: $unicorn-form-checkbox-font-size;
  height: $unicorn-form-font-size * 1.2;
  width: $unicorn-form-font-size * 1.2;
  line-height: 1.2;
  cursor: $unicorn-form-cursor;
  input[type=radio],
  input[type=checkbox] {
    display: block;
    position: absolute;
    top: ($unicorn-form-base-line-height - $unicorn-form-checkbox-height) / 2;
    left: 0px;
  }

  a {
    text-decoration: underline;
  }
}
