// @import 'code-snippets';

$background: #fcfcfc;
$border: #EEE;
$dark: #444444;
$light: #BDBDBD;
$highlight: #78909C;
$highlight-hover: #455A64;
$highlight-setup: #CFD8DC;
$white: #ffffff;
$white-bluegrey: lighten(#eceff1, 2%);
$black: #333333;
$mid-black: #666666;
$font: 'Cherry Swash', sans-serif;
$heroAnimationFont: 'Noble', sans-serif;
$x-large-font-size: 24px;
$large-font-size: 21px;
$base-font-size: 16px;
$small-font-size: 14px;

.clear {clear: both;}

body {
  padding: 60px 0px 0px 0px;
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: lighter;
  color: $highlight-setup;
}

// NAVIGATION /////////////////////////
nav {
  background: $white;
  opacity: .9;
  padding: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;

  ul {
    width: 1000px;
    margin: 0px auto;
    padding: 0px;
    list-style-type: none;

    li {
      transition: border .2s;
      float: left;
      margin-bottom: -3px;

      &.selected {
        border-bottom: 10px solid $highlight;
      }

      &.home {
        padding: 10px;

        a {
          border-radius: 100px;
          display: block;
          line-height: 40px;
          width: 40px;
          background: $highlight;
          color: $white-bluegrey;
          font-family: $font;
          text-align: center;
          font-size: $x-large-font-size;
          padding: 0px;
        }

        &:hover {
          a {
            background: $highlight-hover;
          }
        }
      }
    }

    a {
      float: left;
      text-decoration: none;
      padding: 20px 28px;
      color: $light;
      text-transform: uppercase;
      font-size: $base-font-size;
    }
  }
}

// BILLBOARD /////////////////////////
.hero {
  background: center center no-repeat $highlight;
  background-size: 1200px;
  color: $white-bluegrey;
  padding: 30px 0px 0px 0px;
  border-bottom: 1px solid $border;
  position: relative;
  min-height: 42em;

  .title {
    text-align: center;
    color: $white-bluegrey;

    > h1 {
      font-size: 72px;
      font-family: $font;
      margin: 0;
      display: none;
    }

    > h5 {
      font-size: 18px;
      font-weight: 100;
      margin: 0 0 2em;
      display: none;
    }

    [class^=heading-] {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      width: 100%;
      font-family: $heroAnimationFont;
      font-size: $x-large-font-size * 3;
      text-align: center;
      display: none;
    }
  }

  .devices {
    background: center center no-repeat;
    margin-top: -50px;
    opacity: .3;
    min-height: 22em;
    display: none;
  }

  .form-download {
    position: relative;
    top: -100px;
    display: none;
  }


  @media only screen and (max-width: 480px) {
    padding: 70px 0px 80px 0px;
    // .social-buttons {
  //     position: absolute;
  //     top: 20px;
  //     left: auto;
  //     bottom: auto;
  //     right: 20px;
    // }
  }
}


.svg-hero {
  opacity: 0;
}

.button-download {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 60px;
}

.social-forms {
  width: 300px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 15px;

  .github-button {
    min-width: 90px;
  }




  //TODO: Re-enable twitter & facebook
  .twitter-share-form,
  .fb-like {
    display: none;
  }






}



// PAGE BODY /////////////////////////
.page {
  max-width: 1020px;
  margin: 0px auto;
  margin-top: 80px;
}


// SHOWCASES /////////////////////////

.showcase,
.panel-showcase {
  margin: 0px 10px 120px 10px;
  position: relative;
}

.panel-demo-login .button {
  margin-top: 8px;
}

.form.panel-demo-inline-login {
  width: 100%;

  .button {
    float: right;
  }
}

.demo-formed-grouped {
  > form {
    float: left;
    width: 33%;
  }
}

.showcase {
  background: $background;
  border-radius: 6px;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .10);
}

.prettyprint {
  border-bottom-radius: 6px;
  padding: 10px 5px;
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  overflow: auto;
  background-color: #f5f5f5;
}

.linenums li {
  color: $highlight;
}
pre.prettyprint {
  border: 1px solid #eaeaea;
}
.prettyprint .pln {
  color: #F07692;
}
.prettyprint .str {
  color: #269186;
}
.prettyprint .kwd {
  color: #859900;
}
.prettyprint .com {
  color: #cccccc;
  font-style: italic;
}
.prettyprint .pun {
  color: lighten($highlight, 5%);
}
.prettyprint .tag {
  color: $highlight;
}
.prettyprint .atn {
  color: #E89EEA;
}
.prettyprint .atv {
  color: #80B0CA;
}

.subheading {
  position: absolute;
  top: -80px;
  z-index: 1;

  h3 {
    font-weight: lighter;
    color: $highlight-setup;
    font-size: $base-font-size;
    line-height: 30px;
    margin: 0px;
    padding: 0px;

    em {
      font-size: 11px;
      color: $light;
      font-style: normal;

      a {
        color: $light;
      }
    }
  }
}

.panel-showcase,
.gallery {
  padding: 20px;

  ul {
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    padding: 0;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  em {
    font-size: 11px;
    color: $light;
    font-style: normal;
  }
}

.gallery {
  > ul {
    > li {
      margin: 5px;
      display: inline-block;
    }
  }
}

.setup {
  background: $highlight-setup;
}

.instructions {
  box-sizing: border-box;
  max-width: 1000px;
  padding: 40px 20px;
  margin: 0px auto;

  > h2 {
    text-align: center;
    font-weight: 100;
    font-size: 60px;
    color: $mid-black;
    text-shadow: 0px 1px 0px $white;
    margin: 0px 0px 20px 0px;
    line-height: 60px;
    @media only screen and (max-width: 480px) {
      font-size: 44px;
    }
  }

  h3 {
    color: $mid-black;
    font-size: 22px;
  }

  ol.steps {
    padding-left: 30px;
    > li {
      line-height: 22px;
      margin-bottom: 10px;
      color: $mid-black;
    }
  }
  em {
    font-size: $small-font-size;
  }

  .customize {
    float: right;
  }

  .setup {
    float: left;
  }

  .customize, .setup {
    width: 47%;
    text-align: left;

    @media only screen and (max-width: 480px) {
      float: none;
      width: auto;
      margin: 20px auto 40px auto;
    }
  }
}

footer {
  background: $highlight-hover;
  color: $white-bluegrey;
  padding: 20px;
  text-align: center;
  font-size: $small-font-size;
  letter-spacing: .06rem;

  a {
    color: $white;
  }
}







// MOBILE /////////////////////////


@media only screen and (max-width: 480px) {
  body {
    padding: 0px;
  }

  // NAVIGATION /////////////////////////
  nav {
    position: static;

    ul {
      width: auto;

      li {
        float: none;
        display: block;
        border-bottom: 1px solid $border;

        &.home {
          padding: 10px;
          margin: 5px auto;
          a {
            margin: 5px auto;
          }
        }

        &.selected {
          border-bottom: 1px solid $border;
        }

        a {
          float: none;
          display: block;
          line-height: $x-large-font-size;
          padding: 10px 20px;
          font-size: $large-font-size;
          text-align: center;
        }
      }
    }
  }
}
